<!-- News Section -->
<section class="news-section py-2">
    <div class="container">
        <h2 class="mb-4">Actualités</h2>
        <div class="row">
            <!-- News Item 1 -->
            <div class="col-sm-6 col-md-6 col-lg-4 mb-4">
                <div class="card">
                    <img src="news-image-1.jpg" class="card-img-top" alt="News 1">
                    <div class="card-body">
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vehicula...</p>
                        <a href="#" class="btn btn-outline-secondary btn-block">Lire la suite</a>
                    </div>
                </div>
            </div>
            <!-- News Item 2 -->
            <div class="col-sm-6 col-md-6 col-lg-4 mb-4">
                <div class="card">
                    <img src="news-image-2.jpg" class="card-img-top" alt="News 2">
                    <div class="card-body">
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vehicula...</p>
                        <a href="#" class="btn btn-outline-secondary btn-block">Lire la suite</a>
                    </div>
                </div>
            </div>
            <!-- News Item 3 -->
            <div class="col-sm-6 col-md-6 col-lg-4 mb-4">
                <div class="card">
                    <img src="news-image-3.jpg" class="card-img-top" alt="News 3">
                    <div class="card-body">
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vehicula...</p>
                        <a href="#" class="btn btn-outline-secondary btn-block">Lire la suite</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>