<span class="rating">
    @for (var dark = 0; dark < StarDark; dark++)
    {
        <span class="rating-item rating-item-warning"><i class="fa fa-star"></i></span>
    }
    @for (var white = 0; white < StarWhite; white++)
    {
        <span class="rating-item rating-item-warning"><i class="far fa-star"></i></span>
    }
</span>