<div class="map" id="map">
    <Map ZoomLevel=15 @ref="Map" />
</div>
<!-- Superposition des boutons sur la carte -->
<div class="button-overlay">
    <!-- Search Bar and Navigation -->
    <section class="py-3 search">
        <div class="container">
            <div class="input-group mb-3">
                <InputText class="form-control" placeholder="Je recherche ..."
                           @bind-Value="SearchQuery" 
                           @onkeypress="OnSearchKeyPress"
                           @oninput="OnSearchChanged" />
                @if (Suggestions.Any())
                {
                    <ul class="suggestions">
                        @foreach (var suggestion in Suggestions)
                        {
                            <li @onclick="() => SelectSuggestion(suggestion)">
                                @suggestion.DisplayName
                            </li>
                        }
                    </ul>
                }
            </div>
        </div>
    </section>
    <div class="container">
        <div class="row d-flex justify-content-center">
            @foreach (var placeType in PlaceTypes)
            {
                <button class="btn btn-outline-dark col-4 col-sm-3 col-lg-2 mb-2 button-background" style="--button-color:@placeType.Color;">
                    <i class="@placeType.IconUri"></i>
                    @placeType.Name
                </button>
            }
        </div>
    </div>
</div>