<nav>
    <a class="btn btn-outline-dark" href="/login">
        @if (IsAuthenticated)
        {
            <span>Se deconnecter</span>
        }
        else
        {
            <span>Se connecter</span>
        }
    </a>
</nav>