<nav>
    @if (IsAuthenticated)
    {
        <a class="btn btn-outline-dark me-1" href="/favorites">
            <span>Mes favoris</span>
        </a>
        <a class="btn btn-outline-dark me-1" href="/reviews">
            <span>Mes avis</span>
        </a>
        <a class="btn btn-outline-dark me-1" href="/account">
            <span>Mon compte</span>
        </a>
    }
    <a class="btn btn-outline-dark btn-logout me-1" href="/login" @onclick:preventDefault="true" @onclick="OnClicked">
        @if (IsAuthenticated)
        {
            <span>Déconnexion</span>
        }
        else
        {
            <span>Connexion</span>
        }
    </a>
</nav>