/* Style de la scrollbar */
::-webkit-scrollbar {
    width: 8px; /* Largeur de la scrollbar */
    height: 12px; /* Hauteur de la scrollbar */
}

/* Style de la piste de la scrollbar */
::-webkit-scrollbar-track {
    background: #f1f1f1; /* Couleur de fond de la piste */
    border-radius: 10px; /* Arrondir les coins */
}

/* Style du pouce de la scrollbar */
::-webkit-scrollbar-thumb {
    background: #888; /* Couleur du pouce */
    border-radius: 10px; /* Arrondir les coins */
}

    /* Style du pouce de la scrollbar au survol */
    ::-webkit-scrollbar-thumb:hover {
        background: #555; /* Couleur du pouce au survol */
    }

@-moz-document url-prefix() {
    * {
        scrollbar-width: thin;
        scrollbar-color: #c1c1c1 #f1f1f1;
    }
}

.blazor-error-ui {
    display: none;
}

/* Assurez-vous que la carte couvre tout l'arrière-plan */
body, html {
    height: 100%;
    margin: 0;
}

.map-section {
    background-image: url('../img/map-image.jpg'); /* à remplacer par Mapbox */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 120vh;
    left: 0;
    width: 100%;
}

.map {
    height: 120%;
    width: 100%;
    position: absolute;
    z-index: 0;
}

.search {
    padding-bottom: 0 !important;
}

/* Styles uniformes pour tous les boutons */
.button-overlay .btn {
    background-color: #fff; /* Couleur de fond uniforme */
    color: #000; /* Couleur du texte uniforme */
    border: 1px solid #000; /* Couleur du cadre uniforme */
    border-radius: 5px;
    text-transform: uppercase; /* Texte en majuscule */
    margin: 0 10px;
    position: relative;
    z-index: 1000;
}

    .button-overlay .btn:hover {
        color: #fff;
        background-color: #343a40;
        border-color: #343a40;
    }

.button-overlay input {
    border: black 1px solid;
}

.result-image {
    background-color: #ddd;
}

[data-isUserAuth] {
    display: none;
}

[data-userName] {
    display: block;
}]

.result-list {
    height: 610px;
    overflow-y: auto;
    overflow-x: hidden;
}

.result-details {
    height: 705px;
    overflow-y: auto;
    overflow-x: hidden;
}

.card-title {
    font-size: 1.5rem;
}

.card-text {
    font-size: 1rem;
}

.review-item {
    height: 200px;
    max-height: 200px;
    overflow-y: hidden;
}

.favorite-item {
    height: 150px;
    max-height: 150px;
    width: 350px;
    max-width: 350px;
    overflow: hidden;
}

.favorite-container {
    padding-left: 15px;
}

.favorite-place {
    padding-left: 15px;
}

.review-details {
    height: 200px;
    max-height: 200px;
    overflow-y: hidden;
}

.user-login {
    text-align: center;
}

.user-reset-picture {
    left: 123px;
    position: relative;
    top: 28px;
    background-color: white;
}

.invalid {
    border-color: red!important;
}

.suggestions {
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: absolute;
    background-color: white;
    width: 100%;
    z-index: 6000;
    position: absolute;
    margin-top: 37px;
}

    .suggestions li {
        padding: 8px;
        cursor: pointer;
    }

        .suggestions li:hover {
            background-color: #f0f0f0;
        }

/* La section News est maintenant transparente et superposée à la carte */
.news-section {
    background-color: rgba(255, 255, 255, 0.8); /* Fond semi-transparent pour que la carte reste visible */
    z-index: 2;
}

    .news-section .card-img-top {
        height: 200px;
        object-fit: cover;
    }

.newsletter label {
    padding-bottom: 10px;
}

footer {
    background-color: #f8f9fa; /* Couleur de fond du footer */
    padding: 20px 0;
}

    footer p, footer a {
        color: #6c757d;
    }
