@page "/place/{PlaceId:int?}"
@page "/search/{PlaceTypeId:int?}"

<!-- Main Content -->
<main class="container py-4">
    <div class="row">
        <!-- Sidebar with Results -->
        @if (PlaceTypeId.HasValue)
        {
            <aside class="col-sm-12 col-md-6 col-lg-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="input-group mb-3">
                            <InputText class="form-control" placeholder="Je recherche ..."
                                       @bind-Value="SearchQuery"
                                       @onkeypress="OnSearchKeyPress"
                                       @oninput="OnSearchText" />
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button">Filtres</button>
                                <button class="btn btn-outline-secondary" type="button">Note</button>
                            </div>
                        </div>
                        <div class="result-list overflow-auto">
                            @foreach (var place in Places)
                            {
                                <div class="media mb-3 pointer" @onclick="() => ViewResult(place)">
                                    <div class="result-image bg-secondary mr-3" style="width: 60px; height: 60px;">
                                        <img href="@(Configuration["PhotoUrl"])width=60,height=60.,quality=75,fit=cover@(place.Photo)" class="img-fluid" alt="@place.Name" />
                                    </div>
                                    <div class="media-body">
                                        <h5 class="mt-0">
                                            @place.Name
                                        </h5>
                                        <p>
                                            <Rating Value="place.Rating" />
                                        </p>
                                        <p class="text-muted">
                                            @place.Description
                                        </p>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </aside>
        }
        <!-- Detailed Information -->
        @if (PlaceId.HasValue)
        {
            <section class="col-sm-12 col-md-6 col-lg-4">
                <div class="card result-details">
                <img src="img/news-image-1.jpg" class="card-img-top" alt="Restaurant Image">
                <div class="card-body">
                    <h2 class="card-title">Gros titre</h2>
                    <p class="card-text">★★★★★ (35 reviews)</p>
                    <p class="card-text">Description du restaurant. Lorem ipsum dolor sit amet.</p>
                    <ul class="list-unstyled">
                        <li>✔ Gamelle d'eau sur demande</li>
                        <li>✔ Espace autour des tables</li>
                    </ul>
                    <p>📍 1234 Rue de la Rue, 75000 Paris</p>
                    <p>📞 03 00 00 00 00</p>
                    <p>🌐 <a href="#">Site web</a></p>
                    <p>🕒 Horaires: 09:00 - 23:00</p>
                    <p class="card-text">Donnez votre avis :</p>
                    <p class="card-text">
                        ☆☆☆☆☆
                    </p>
                    <p class="card-text">
                        <textarea class="form-control" rows="3" placeholder="Commentaire"></textarea>
                    </p>
                    <p class="card-text d-flex justify-content-end">
                        <button class="btn btn-primary mb-3">Envoyez</button>
                    </p>
                </div>
            </div>
        </section>
        }
    </div>
</main>