@inject IConfiguration Configuration
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <base href="/" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://www.gstatic.com/firebasejs/ui/6.1.0/firebase-ui-auth.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/perfect-scrollbar@1.5.5/css/perfect-scrollbar.min.css" rel="stylesheet" />
    <link href="_content/Blazorise.Icons.FontAwesome/v6/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/paper-dashboard.min.css?v=2.0.1" />
    <link rel="stylesheet" href="/css/app.css" />
    <link rel="stylesheet" href="DogFriendly.Admin.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <RadzenTheme Theme="default" @rendermode="InteractiveServer" />
    <HeadOutlet @rendermode="InteractiveServer" />
    <script>
        const firebaseConfig = {
            apiKey: '@Configuration["Firebase:ApiKey"]',
            authDomain: '@Configuration["Firebase:AuthDomain"]',
            projectId: '@Configuration["Firebase:ProjectId"]',
            appId: '@Configuration["Firebase:AppId"]'
        };
    </script>
</head>
<body>
    <Routes @rendermode="InteractiveServer" />
    <RadzenComponents @rendermode="InteractiveServer" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/perfect-scrollbar@1.5.5/dist/perfect-scrollbar.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.0.0/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.0.0/firebase-auth-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/ui/6.1.0/firebase-ui-auth__fr.js"></script>
    <script src="/js/bootstrap-notify.js"></script>
    <script src="/js/paper-dashboard.min.js?v=2.0.1"></script>
    <script src="/js/firebase-init.js"></script>
    <script src="/js/init-component.js"></script>
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js?v=@(typeof(Radzen.Colors).Assembly.GetName().Version)"></script>
</body>
</html>
